<div style="height: 100vh">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button routerLink="/home" class="link-mal-logo">
      <span>!MyAnimeList.net</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <mat-form-field class="search-box" color="warn">
        <mat-label>Search</mat-label>
        <input type="text"
               placeholder="ex. One Piece"
               aria-label="Search"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto"
               [(ngModel)]="value">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nome" (click)="searchInput(option)">
            {{option.nome}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <a mat-button routerLink="/anime">
        <mat-icon>theaters</mat-icon>
        <span>Anime</span>
      </a>
      <a mat-button routerLink="/help">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </a>
    </div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        <mat-menu #menu>
          <button mat-button class="menu-button" *ngIf="logado()" (click)="sair()">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </button>
          <button mat-button class="menu-button" *ngIf="!logado()" (click)="logar()">
            <mat-icon>login</mat-icon>
            <span>login</span>
          </button>
        </mat-menu>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <mat-form-field class="search-box" color="primary">
          <mat-label>Search</mat-label>
          <input type="text"
                 placeholder="ex. One Piece"
                 aria-label="Search"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto"
                 [(ngModel)]="value">
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nome" (click)="searchInput(option)">
              {{option.nome}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <a mat-button routerLink="/anime">
          <mat-icon>theaters</mat-icon>
          <span>Anime</span>
        </a>
        <a mat-button routerLink="/help">
          <mat-icon>help</mat-icon>
          <span>Help</span>
        </a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
