<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="form"
>
  <div class="form-thingy">
  <label id="score">Avaliação</label>
  <mat-radio-group
    formControlName="score"
    aria-labelledby="score"
    class="example-radio-group">
      <mat-radio-button value="1">Horrivel</mat-radio-button>
      <mat-radio-button value="2">Muito Ruim</mat-radio-button>
      <mat-radio-button value="3">Ruim</mat-radio-button>
      <mat-radio-button value="4">Mais ou Menos</mat-radio-button>
      <mat-radio-button value="5">Bom</mat-radio-button>
      <mat-radio-button value="6">Muito Bom</mat-radio-button>
      <mat-radio-button value="7">Otimo</mat-radio-button>
  </mat-radio-group>
  <mat-error *ngIf="handleError('score', 'required')">
    A pontuação é obrigatório
  </mat-error>

  <mat-form-field class="example-form-field">
    <mat-label>Assitidos</mat-label>
    <input matInput type="number" value="0" min="0" formControlName="watched">
  </mat-form-field>
    <mat-error *ngIf="handleError('watched', 'required')">
      O numero de assitidos é obrigatório
    </mat-error>
    <mat-error *ngIf="handleError('watched', 'minimum')">
      O valor precisa ser maior que 0
    </mat-error>

  <button mat-raised-button color="primary" type="submit">Salvar</button>
  </div>
</form>
<section class="example-container mat-elevation-z8 tabble-thingy" tabindex="0">
  <table mat-table [dataSource]="animeListaDataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score. </th>
      <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="watched">
      <th mat-header-cell *matHeaderCellDef> watched. </th>
      <td mat-cell *matCellDef="let element"> {{element.watched}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasMostrar; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasMostrar;"></tr>
  </table>
</section>
