.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover; /* Set the background image to cover the container */
  background-position: center; /* Center the background image */
}

.mat-slider {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(10px); /* Add the blur effect */
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay-text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
