<div class="blur-background">
</div>
<div class="welcome">
  <section id="0">
    <h1 class="title">Bem Vindo</h1>
  </section>
  <section id="1" class="page">
      <p>Este site foi desenvolvido para as materias de Programação III e Programação IV, e foram baseados no site do
        MyAnimeList</p>
  </section>
  <section id="2" class="page">
      <p>Criei um codigo em python para preencher a tabela para testar algumas funções, mas esqueci de desligar a função que apaga os dados, fico grato por ter automatizado o preenchimento da tabela</p>
  </section>
  <section id="3">
    <footer>
      <div class="link-anime">
        <a href="https://myanimelist.net"><span class="myanime">MyAnimeList</span></a>
      </div>
    </footer>
  </section>
</div>
