@use '@angular/material' as mat;
@import '@angular/material/theming';

@include mat.core();

$primary-palette: (
  50: #2e51a2,
  100: #2e51a2,
  200: #2e51a2,
  300: #2e51a2,
  400: #2e51a2,
  500: #2e51a2,
  600: #2e51a2,
  700: #2e51a2,
  contrast: (
    50: rgba(#121212, 0.90),
    100: rgba(#141414, 0.60),
    200: rgba(#181818, 0.40),
    300: #202020,
  )
);

$accent-palette: (
  50: #0a101c,
  100: #101a2f,
  200: #111a5f,
  300: #121a6f,
  400: #131b8f,
  500: #141caf,
  600: #202ebf,
  700: #202fcf,
  contrast: (
    50: rgba(#b9bbde, 0.87),
    100: rgba(#dfe0ee, 0.87),
    200: rgba(#dddee5, 0.87),
    300: white,
  )
);

$warn-palette: (
  50: #ea247a,
  100: #ea247a,
  200: #ea247a,
  300: #ea247a,
  400: #ea247a,
  500: #ea247a,
  600: #ea247a,
  700: #ea247a,
  contrast: (
    50: rgba(#deb9b9, 0.87),
    100: rgba(#eedfdf, 0.87),
    200: rgba(#e5dddd, 0.87),
    300: white,
  )
);

$mal-primary: mat.define-palette($primary-palette);
$mal-accent: mat.define-palette($accent-palette);
// $mal-warn: mat.define-palette($warn-palette);

$mal-theme-light: mat.define-light-theme((
  color: (
    primary: $mal-primary,
    accent: $mal-accent,
    // warn: $mal-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$mal-theme-dark: mat.define-dark-theme((
  color: (
    primary: $mal-primary,
    accent: $mal-accent,
    //warn: $mal-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// @include mat.all-component-themes($mal-theme-light);
@include mat.all-component-themes($mal-theme-dark);
