.btnEditar{
  margin-left: 7px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.item {
  margin: 10px;
}

.empty-table {
  padding: 27vh 28vw;
  text-align: center;
}

.example-card {
  width: 245px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.final {
  text-align: center;
  padding: 8vh 0 3vh 0;
}
